@use '../../../../scss/variables';

.container {
  display: flex;
  align-items: center;

  @media (max-width: variables.$tablet-width) {
    font-size: 14px;
  }
}

.toggle {
  margin: 0 20px;
}

.text {
  font-weight: 700;

  opacity: 0.4;

  margin: 0;
}

.activeText {
  opacity: 1;
}
